html {
  font-size: 16px;

}
html, body {
    margin: 0;
    height: 100%;
}
body{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("https://i.imgur.com/Ez6rbmZ.jpg%22");
  background-size: cover;

}


.nav-item{
  padding: 0 18px;

}
.navbar{
  height: 75px;
  background: #280137;
}
.navbar-brand{
  padding: 30px 30px;
  background-size: contain;

  float: left;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
.navbar-brand a:hover{
  background: rgb(0, 0, 0, 1);
  border-radius: 10px;
}
.nav-item a:hover{
  background: rgb(0, 0, 0, 1);
  border-radius: 6px;
}

.lead{
  padding: 0 0 10% 0;
  color: #ADD8E6;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;

}
.p1{
  color: green;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 800;
  font-size: 2.5rem;

}
.display-4{
  padding: 10% 0 5% 0;
  color: #ADD8E6;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;

}
.container {
  max-width: 960px;
  margin-bottom: .5rem;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
  margin-bottom: 2rem;
}


table, th, tr, td{
  font-weight: 400;
  color: white;
  border: 1px solid white;
  margin:auto;
  width: auto;
}
@media (max-width: 1024px) {
  .navbar{
    height: auto;
  }
  .navbar-brand{
    padding: 15px 15px;
    height: auto;
  }
  .display-4{
    font-size: 3rem;
  }
  .lead{
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .navbar{
    height: auto;
  }
  .navbar-brand{
    padding: 10px 10px;
    height: auto;
  }
  .display-4{
    font-size: 2.5rem;
    font-weight: 300;
  }
  .lead{
    font-size: 1.5rem;
    font-weight: 300;
  }
}
@media (max-width: 430px) {
  .navbar{
    height: auto;
  }
  .navbar-brand{
    padding: 7px 7px;
    height: auto;
  }
  video{
    width: 90%;
    height: 90%;
  }
  table, th, tr, td{
    width: 420px;
    font-size: 0.65rem;
  }
  .display-4{
    font-size: 2rem;
    font-weight: 100;
  }
  .lead{
    font-size: 1rem;
    font-weight: 100;
  }
}
@media (max-width: 376px) {
  .navbar{
    height: auto;
  }
  .navbar-brand{
    padding: 5px 5px;
    height: auto;
  }
  video{
    width: 90%;
    height: 90%;
  }
  table, th, tr, td{
    width: 350px;
    font-size: 0.6rem;
  }
  .display-4{
    font-size: 1.75rem;
    font-weight: 100;
  }
  .lead{
    font-size: 0.9rem;
    font-weight: 100;
  }
}
@media (max-width: 320px) {
  .navbar{
    height: auto;
  }
  .navbar-brand{
    padding: 5px 5px;
    height: auto;
  }
  video{
    width: 90%;
    height: 90%;
  }
  table, th, tr, td{
    width: 310px;
    font-size: 0.5rem;
  }
  .display-4{
    font-size: 1.5rem;
    font-weight: 100;
  }
  .lead{
    font-size: 0.8rem;
    font-weight: 100;
  }
}
