html {
  font-size: 16px;

}

#title{

}
.nav-item{
  padding: 0 18px;

}
.navbar{
  height: 75px;
  background: #280137;
}
.navbar-brand{
  padding: 30px 30px;
  background-size: contain;

  float: left;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
.navbar-brand a:hover{
  background: rgb(0, 0, 0, 1);
  border-radius: 10px;
}
.nav-item a:hover{
  background: rgb(0, 0, 0, 1);
  border-radius: 6px;
}
body{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("../images/bg.jpg");
}
.lead{
  padding: 0 0 10% 0;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;

}
.display-4{
  padding: 10% 0 5% 0;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;

}
.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
  margin-bottom: 5rem;
}
@media (min-width: 320px) {
  .navbar{
    height: auto;
  }
  .navbar-brand{
    padding: 5px 5px;
    height: auto;
  }
}
@media (min-width: 430px) {
  .navbar{
    height: auto;
  }
  .navbar-brand{
    padding: 7px 7px;
    height: auto;
  }
}
@media (min-width: 768px) {
  .navbar{
    height: auto;
  }
  .navbar-brand{
    padding: 10px 10px;
    height: auto;
  }

}
@media (min-width: 1024px) {
  .navbar{
    height: auto;
  }
  .navbar-brand{
    padding: 15px 15px;
    height: auto;
  }
}
