html,
body {
  height: 100%;
}
#title{

}
.nav-item{
  padding: 0 18px;

}
.navbar{
  height: 75px;
  background: #280137;
}
.navbar-brand{
  padding: 30px 30px;
  background-size: contain;

  float: left;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
.navbar-brand a:hover{
  background: rgb(0, 0, 0, 1);
  border-radius: 10px;
}
.nav-item a:hover{
  background: rgb(0, 0, 0, 1);
  border-radius: 6px;
}
.pricing-header{
  color: white;
}
body {
  background-size:cover;
  align-items: center;
  padding-bottom: 40px;
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("https://i.imgur.com/Ez6rbmZ.jpg%22");

}
.hello{
  height: 10rem;
}
.qrcode{
  background-color: white;
}
.container{
  width: 20%;
  padding: 0;
  margin: auto;
}

/* Style buttons */
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}
img{
  height: 90%;
  width: 90%;
  position: relative;
}
.w-100{
  width: auto;
  height: auto;
}
@media (min-width: 320px) {
  .navbar{
    height: auto;
  }
  .navbar-brand{
    padding: 5px 5px;
    height: auto;
  }
  .display-4{
    font-size: 1.5rem;
    font-weight: 100;
  }
  .lead{
    font-size: 0.8rem;
    font-weight: 100;
  }
  .w-100{
    font-size: 0.7rem;
  }
  
}
@media (min-width: 430px) {
  .navbar{
    height: auto;
  }
  .navbar-brand{
    padding: 7px 7px;
    height: auto;
  }
  .display-4{
    font-size: 2rem;
    font-weight: 100;
  }
  .lead{
    font-size: 1rem;
    font-weight: 100;
  }
  .w-100{
    font-size: 0.8rem;
  }
}
@media (min-width: 768px) {
  .navbar{
    height: auto;
  }
  .navbar-brand{
    padding: 10px 10px;
    height: auto;
  }
  .display-4{
    font-size: 2.5rem;
    font-weight: 300;
  }
  .lead{
    font-size: 1.5rem;
    font-weight: 300;
  }
  .w-100{
    font-size: 0.9rem;
  }
}
@media (min-width: 1024px) {
  .navbar{
    height: auto;
  }
  .navbar-brand{
    padding: 15px 15px;
    height: auto;
  }
  .display-4{
    font-size: 3rem;
  }
  .lead{
    font-size: 1.5rem;
  }
  .w-100{
    font-size: 1rem;
  }
}
