html,
body {
  height: 100%;
}
#title{

}
.nav-item{
  padding: 0 18px;

}
.navbar{
  height: 75px;
  background: #280137;
}
.navbar-brand{
  padding: 30px 30px;
  background-size: contain;

  float: left;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
.navbar-brand a:hover{
  background: rgb(0, 0, 0, 1);
  border-radius: 10px;
}
.nav-item a:hover{
  background: rgb(0, 0, 0, 1);
  border-radius: 6px;
}
.pricing-header{
  color: white;
}
body {
  background-size:cover;
  align-items: center;
  padding-bottom: 40px;
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("https://i.imgur.com/Ez6rbmZ.jpg%22");

}
.hello{
  height: 10rem;
}
.qrcode{
  position: absolute;
  background-color: white;

  left: 45%;


}

/* Style buttons */
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}
