html,
body {
  height: 100%;
}
#title{

}
.nav-item{
  padding: 0 18px;

}
.navbar{
  height: 75px;
  background: #280137;
}
.navbar-brand{
  padding: 30px 30px;
  background-size: contain;

  float: left;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
.navbar-brand a:hover{
  background: rgb(0, 0, 0, 1);
  border-radius: 10px;
}
.nav-item a:hover{
  background: rgb(0, 0, 0, 1);
  border-radius: 6px;
}
.pricing-header{
  color: white;
}
body {
  background-size:cover;
  align-items: center;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("https://i.imgur.com/Ez6rbmZ.jpg%22");
}
.hello{
  height: 10rem;
  color: white;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px ;

  margin: auto;
  background-color: white;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.lbl{
    color: white;
}
.hello{
    font-weight: 400;
    margin-left: 10%;
}
table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
