.container {
  max-width: 90%;
}

.lh-condensed { line-height: 1.25; }

body{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  height:100%;
}
input[type=number].no-spinner::-webkit-inner-spin-button,
   input[type=number]::-webkit-outer-spin-button {
   -webkit-appearance: none;
    margin: 0;
}

html{
  background-size: cover;
  height: 100%;

}
.form1{
  color: white;
}
.hello{
  height: 5rem;
}


.nav-item{
  padding: 0 18px;

}
.navbar{
  height: 75px;
  background: #280137;
}
.navbar-brand{
  padding: 30px 30px;
  background-size: contain;

  float: left;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
.navbar-brand a:hover{
  background: rgb(0, 0, 0, 1);
  border-radius: 10px;
}
.nav-item a:hover{
  background: rgb(0, 0, 0, 1);
  border-radius: 6px;
}
.container{
  color: white;
}
.fontcolor1{
  color: white;
}



@media (min-width: 320px) {
  .navbar{
    height: auto;
  }
  .navbar-brand{
    padding: 5px 5px;
    height: auto;
  }
}
@media (min-width: 430px) {
  .navbar{
    height: auto;
  }
  .navbar-brand{
    padding: 7px 7px;
    height: auto;
  }
}
@media (min-width: 768px) {
  .navbar{
    height: auto;
  }
  .navbar-brand{
    padding: 10px 10px;
    height: auto;
  }

}
@media (min-width: 1024px) {
  .navbar{
    height: auto;
  }
  .navbar-brand{
    padding: 15px 15px;
    height: auto;
  }
}
