.container {
  max-width: 960px;
}

.lh-condensed { line-height: 1.25; }

body{
  background-image: url("https://i.pinimg.com/originals/49/56/fd/4956fdd7903279bdce16f8071a05774d.jpg");
}
#title{
  font-size: 16px;
  background-color: #355C7D;
  padding: 3% 15% 0;
  font-weight: 900;
}
.container{
  color: white;
}
.fontcolor1{
  color: white;
}
.nav-item{
  padding:  18px;
}
